[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Django = "*"
gunicorn = "*"
django-heroku = "*"
requests = "*"
Pillow = "*"
django = "*"
stripe = "*"
"boto3" = "*"
django-storages = "*"
boto = "*"
whitenoise = "*"

[requires]
python_version = "3.6"
